/Java/Marina Evangelista/Leccion2/CicloWhile/nbproject/private/
/Java/Marina Evangelista/Leccion2/CicloWhile/build/
/Java/Marina Evangelista/Leccion2/EjercicioCiclos01/nbproject/private/
/Java/Marina Evangelista/Leccion2/EjercicioCiclos01/build/
/Java/Marina Evangelista/Leccion3/LeccionClasesObjetos/nbproject/private/
.netbeans*
/Java/leccion04/Aritmetics/build/
/Java/leccion02/EjercicioCiclos11/nbproject/private/
/Java/leccion02/EjercicioCiclos11/build/
/Java/leccion02/JavaApplication14/nbproject/private/
/Java/leccion02/Ciclos12/nbproject/private/
/Java/leccion02/EjercicioCiclos12/nbproject/private/
/Java/leccion02/EjercicioCiclos12/build/
/Java/leccion05/Encapsulamiento/nbproject/private/
