@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  box-shadow: none;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    width: 100%;
    min-height: 100dvh;
  }
}
